<div class="container">
    <div class="row">
        <div class="col-4">
            <div *ngFor = 'let quote of quotes; let i = index'>
                <div class="card text-center">
                    <div class="card-body">
                      <p class="card-text" id={{i}}>
                        {{quote.title}}.
                        <br>
                        <br>
                        ~{{quote.author}}
                      </p>
                      <br>
                      <button class="btn btn-success" (click)="upvoteClick(i)">UPVOTE</button>{{quote.upvotes}}
                      <br>
                      <br>
                      <button class="btn btn-primary" (click)="downvoteClick(i)">DOWNVOTE</button>{{quote.downvotes}}
                      <br>
                      <a href="#" class="button" (click) = 'toggleDetails(i)'>Read More</a>
                      <app-quote-detail *ngIf = 'quote.showDescription' [quote] = 'quote' (isComplete) = 'quoteDeleted($event,i)'></app-quote-detail>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>