* {
    box-sizing: border-box;
  }
.popCard{
    width: 20rem;
    margin:20px;
}
.popular{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.quoteItems{
  display: grid;
  grid-template-columns: auto auto auto;
  /* gap: 10px; */

}
.mainQuote{
  margin:7px;
}