<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-8 text-center">
      <div *ngFor='let quote of quotes; let i = index'>
        <div class="card text-center">
          <div class="card-body">
            <p class="card-text" id={{i}}>
              {{quote.quote}}.
              <br>
              <br>
              ~{{quote.author}}
            </p>
            <br>
            <button class="btn btn-success" (click)="upvoteClick(i)">UPVOTE</button>{{quote.upvotes}}
            <br>
            <br>
            <button class="btn btn-primary" (click)="downvoteClick(i)">DOWNVOTE</button>{{quote.downvotes}}
            <br>
            <a href="#" class="button" (click)='toggleDetails(i)'>Read More</a>
            <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='quoteDeleted($event,i)'>
            </app-quote-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






